body {
  padding: 0;
  overflow: hidden;
  font-family: Georgia;
}

*:focus {outline:none}

h3 {
  display: inline-block;
  margin: 0px;
  font-variant: small-caps;
}

h5 {
  display: inline-block;
  margin: 0px;
  vertical-align: middle;
  color:rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

.map {
  position: absolute;
  right: 180px;
  left:00px;
  height: 100%;
  top: 0;
}

.blank {
  font-size: 12px;
  margin:10px;
}

#front {
  opacity: 1;
}

#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#start span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#start span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#start:hover span {
  padding-right: 25px;
}

#start:hover span:after {
  opacity: 1;
  right: 0;
}

#start-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}

.navsidebar {
  position: absolute;
  right: 0px;
  width: 180px;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #3BABAC;
}

#logo-container {
  display: flex;
  justify-content: center;
}

.nav-bars > ul > li > a {
  border-radius: 0px;
  color: black;
  text-align:left;
  font-variant: small-caps;
  font-size: 16px;
}

.nav-bars > ul > li > a:hover {
  color:white;
  background-color: rgba(0, 0, 0, 0.2);
}

.intsidebar {
  z-index: 1000;
  position: absolute;
  left: 0px;
  width: 320px;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0,0.5);
}

.subdiv > ul > li > a {
  border-radius: 5px;
  text-align:left;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(0,0,0,0.2);
}

.subdiv > ul > li > a:hover {
  color:rgba(0,0,0,0.6);
  background-color: rgba(255, 255, 255, 0.8);
}

.input-group{
  display: inline-block;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.2);
  border-radius: 5px;
  padding:10px;
  margin-top: 10px;
  margin-left:20px;
  margin-right:15px
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    background-color: rgba(0,0,0,0);
    border-style: none;
    color:white;
    box-sizing: border-box;
    font-family: Verdana;
    font-weight: lighter;
    font-size:12px;
}

.info-subtitle {
  margin-left: 20px;
  margin-top: 10px;
}

.filter-choice {
  position:relative;
  display: inline-block;
  border-radius: 10px;
  height:100px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 5000;
  text-align: center;
  padding: 10px;
  vertical-align:middle;
  cursor: pointer;
  margin-top: 20px;
}

.filter-choice:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.filter-expand > ul > li {
  margin-left: 35px;
  margin-right: 45px;
}

.filter-expand > ul > li > a {
  border-radius: 5px;
  text-align:left;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(0,0,0,0.2);
}

.filter-expand> ul > li > a:hover {
  color:rgba(0,0,0,0.6);
  background-color: rgba(255, 255, 255, 0.8);
}

.filter-custom {
  margin-left: 35px;
  margin-right: 45px;
  margin-top: 5px;
}


.form-group {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.generateButton > button {
  background-color: rgba(0,0,0,0.2);
  border: 1px solid;
  color: rgba(255, 255, 255, 0.7);
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  display: inline-block;
  font-size: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.generateButton > button:hover {
  color:rgba(0,0,0,0.6);
  background-color: rgba(255, 255, 255, 0.8);
}

#go {
  display: inline-block;
  position:absolute;
  margin-left: 190px;
  margin-top: 5px;
}

#clear {
  display: inline-block;
  position:absolute;
  margin-left: 240px;
  margin-top: 5px;
}

#search-go {
  display: inline-block;
  position:absolute;
  margin-left: 180px;
  margin-top: 15px;
}

#search-clear {
  display: inline-block;
  position:absolute;
  margin-left: 240px;
  margin-top: 15px;
}

#hideit1{
  position: absolute;
  left: 287px;
  top: 12px;
  cursor:pointer;
}

#hideit2{
  position: absolute;
  left: 287px;
  top: 12px;
  cursor:pointer;
}

#hideit3{
  position: absolute;
  left: 287px;
  top: 12px;
  cursor:pointer;
}

.info1 {
  padding: 6px 8px;
  font: 14px/16px Verdana;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info1 h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend1 {
    line-height: 18px;
    color: #555;
}
.legend1 i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
